/* CATALOG */
.section__catalog {
    margin-top: 70px;
    padding-top: 30px;
}

.section__catalog-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.catalog__flex-container{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.catalog__flex-card{
	width: 300px;
	height: 450px;
	display: flex;
	flex-direction: column;
	background-color: #eee;
	text-align: center;
	margin: 10px; 
}
.catalog__flex-card-img-block{
	text-align: center;
	margin-bottom: 10px;
}
.catalog__flex-card-img{
	width: 300px;
	height: 300px;
}
.catalog__flex-card-title{
	font-size: 20px;
	margin-bottom: 15px;
}
.catalog__flex-card-price{
	margin-bottom: 20px;
}

.catalog__flex-card-button{
	padding: 15px 20px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;	
	outline: none;
	border: 0;
	cursor: pointer;
}
.catalog__more-button{
	text-align: center;
}
.catalog__more-button button{
	padding: 20px 50px;
	font-size: 20px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	transition: 0.2s;

}

.catalog__more-button button:hover,
.catalog__more-button button:focus{
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}