
body {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: #212529;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

/* SCROLL BAR */

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  height: 8px;
  /* высота для горизонтального скролла */
  background-color: transparent;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #080808;
  border-radius: 9em;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: black;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: black;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: black;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #fff 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #fff 30%, rgba(0, 0, 0, 0) 31%);
  background-color: black;
}

/* MAIN */

.main {
  position: relative;
  min-height: 100%;
  padding-bottom: 700px;
}
.main .wrapper{
  padding: 0 15px 0 15px;
}
.main__content {
  background-color: #fff;
  left: 200px;
  max-width: 1130px;
  overflow: hidden;
}
.main__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: -999px;
  overflow-x: hidden;
  transition: 0.3s ease-out;
  background-color: #fff;
  padding-top: 30px;
  z-index: 1000;
}

.sidenav__close-btn {
  position: relative;
  width: 30px;
  height: 20px;
  display: block;
  cursor: pointer;
  margin-left: 35px;
  margin-bottom: 20px;
}

.sidenav__close-btn-line-1,
.sidenav__close-btn-line-2,
.sidenav__close-btn-line-3 {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #000;
  margin: 0 auto;
}

.sidenav__close-btn-line-1 {
  top: 19px;
}

.sidenav__close-btn-line-2 {
  top: 5px;
}

.sidenav__close-btn-line-3 {
  bottom: 5px;
}

.sidenav__menu {
  margin-bottom: 30px;
  padding-left: 35px;
  padding-right: 15px;
}

.sidenav__menu-item {
  padding: 15px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.sidenav__menu-item:hover {
  background-color: #dadada;
}

.sidenav__menu-link {
  text-decoration: none;
  color: #212529;
}
.sidenav__icons-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 100px;
}
.sidenav__icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 15px;
}
.sidenav__icons p {
  margin-left: 10px;
  font-weight: normal;
}
.sidenav__icons:hover,
.sidenav__icons:focus {
  color: #5c5c5c;
}
.sidenav__buttons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: flex-start;
  flex-flow: column;
  padding: 0 15px 100px 35px;
  font-size: 20px;
}
.sidenav__buttons-btn {
  text-decoration: none;
  color: #212529;
}
.sidenav__buttons-btn:hover,
.sidenav__buttons-btn:focus {
  opacity: 0.9;
}

.sidenav__login-button {
  margin-bottom: 20px;
}
/* INTRO */

.section__intro {
  width: 100%;
  height: 100vh;
  background-image: url(../intro.png);
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.section__intro:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100vw;
  z-index: -9999;
}
.intro__text {
  position: absolute;
  font-size: 160px;
  font-weight: bold;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fff;
  left: 50%;
  top: 25%;
  text-align: center;
  transform: translateX(-50%);
  font-family: "Josefin Sans", sans-serif;
}
.section__intro img{
  pointer-events: none;
  user-select: none;
}
.section__intro h2 {
  font-size: 40px;
}
.section__intro a {
  position: absolute;
  color: #fff;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}
.section__intro a:hover,
.section__intro a:focus {
  bottom: 4.5%;
}
/* FOR YOU */
.section__for-you {
  padding-bottom: 50px;
}

.for-you__slider-item {
  width: 250px;
  height: 300px;
  background-color: #dadada;
  cursor: pointer;
  text-align: center;
}

.for-you__slider-img {
  width: 250px;
  height: 250px;
  margin: 0 auto 10px auto;
}

.for-you__slider-title {
  font-weight: 500;
}
/* CATEGORY */
.section__category {
  height: 500px;
  margin-bottom: 50px;
}
.category__flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: 500px;
}
.category__flex-elem {
  width: 100%;
  height: 450px;
  background-color: #dadada;
  margin-right: 20px;
  text-align: center;
}
.category__flex-elem:last-child {
  margin-right: 0;
}
.category__flex-elem-img {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}
.category__flex-elem-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.category__flex-elem-button {
  padding: 12px 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  outline: 0;
  border: 1px solid transparent;
  transition: 0.2s;
}
.category__flex-elem-button:hover,
.category__flex-elem-button:focus {
  opacity: 0.8;
}
/* LOGIN & REGISTER POP-UPS */
.overlay__pop-up {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
.login {
  width: 300px;
  height: 300px;
  padding: 50px;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  display: none;
  position: fixed;
  z-index: 1000;
  margin: 0 auto 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login p {
  font-size: 20px;
  margin-bottom: 10px;
}
.login input {
  width: 100%;
  margin-bottom: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
}
.login button {
  width: 100%;
  padding: 15px 25px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto;
}
.login button:hover,
.login button:focus {
  opacity: 0.8;
}
.login__forget-password {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.login a {
  margin: 0 auto;
}
.register {
  width: 300px;
  height: 500px;
  padding: 50px;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  display: none;
  position: fixed;
  z-index: 1000;
  margin: 0 auto 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register p {
  font-size: 20px;
  margin-bottom: 10px;
}
.register input {
  width: 100%;
  margin-bottom: 30px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
}
.register button {
  width: 100%;
  padding: 15px 25px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto;
}
.register button:hover,
.register button:focus {
  opacity: 0.8;
}

/* POPULAR */
.section__popular {
  width: 100%;
  height: auto;
}

.popular__cards-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
  width: 100%;
}
.popular__card-info {
  position: relative;
  padding: 0 40px;
  background-color: #dadada;
}
.popular__card-info-img {
  width: 100%;
  height: auto;
}
.popular__card-info-title {
  font-size: 40px;
  padding-top: 50px;
  margin-bottom: 60px;
}
.popular__card-info-desc {
  font-size: 20px;
  line-height: 24px;
  max-width: 70%;
}
.popular__card-info-button {
  position: absolute;
  bottom: 50px;
  padding: 15px 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  outline: 0;
  border: 1px solid transparent;
  transition: 0.2s;
}
.popular__card-info-button:hover,
.popular__card-info-button:focus {
  opacity: 0.8;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 500px;
  padding: 60px 0;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__container {
  width: 100%;
  height: 250px;
}

.footer__container h6 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.footer__menu-item {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer__menu-link {
  text-decoration: none;
  color: #d1d1d1;
}
.footer__menu-link:hover,
.footer__menu-link:focus {
  color: #fff;
  text-decoration: underline;
}

.footer__subfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer__subfooter-subscribe {
  display: flex;
  align-items: center;
}
.footer__subfooter-subscribe-input,
.footer__subfooter-subscribe-btn {
  padding: 5px 10px;
  outline: 0;
  border: 0;

}

.footer__subfooter-subscribe-input {
  margin-right: 5px;
  border-radius: 5px;
}
.footer__subfooter-subscribe-btn {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.footer__subfooter-subscribe-btn:hover,
.footer__subfooter-subscribe-btn:focus {
  opacity: 0.8;
}
.footer__subfooter-icons {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.footer__subfooter-icons-icon {
  margin-left: 15px;
  cursor: pointer;
  color: #d1d1d1;
}
.footer__subfooter-icons-icon:first-child {
  margin-left: 0;
}
.footer__subfooter-icons-icon:hover,
.footer__subfooter-icons-icon:focus {
  color: #fff;
}

.footer__brand{
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 20px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.footer__brand h1{
  font-size: 120px;
}
.footer__brand h3{
  font-size: 25px;
}
/* SCROLL TO UP */
.scroll-to-up{
  display: none;
  position: fixed;
  text-align: center;
  bottom: 15px;
  right: 30px;
}
.scroll-to-up a{
  padding: 20px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 25px;
}
